.navbar {
    background-color: #01286A;
    display: block;
    color: white;
    align-items: center;
}

.navbar :any-link {
    color: white;
}

.nav-logo {
    height: 10vmin;
    border-radius: 50%;
}
